*{
    margin: 0;
    padding: 0;
  }
  body{
      
      display: flex;
      align-items: center;
      height: 100vh;
      justify-content: center;
  }
 
  h2{
      font-size: 20px;
      color:  hsla(252, 100%, 88%, 0.841);
      margin: 30px;
      margin-left: 100px;
  }
  h4{
      font-size: 15px;
      color: rgba(255, 255, 255, 0.545);
      padding: 0;
      margin: 0;
  }
.container{
    width: 600px;
    height: 400px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    box-shadow: 30px 20px 50px rgb(116, 191, 249);
}  
.left{
    border-radius: 20px;
    width: 50%;
    background-color:  hsl(252, 100%, 67%);
    background-image: linear-gradient(to top , hsl(241, 81%, 54%), hsl(252, 100%, 67%));

}
.right{
    width: 50%;
}
.seven{
    margin-left: 70px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color:hsla(241, 72%, 46%, 0);
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    text-align: center;
    color: aliceblue;
}
.seven h1{
    padding-top: 30px;
    font-size: 60px;
    margin-bottom: 10px;
}

.first{
    width: 250px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: rgb(121, 23, 23);
    background-color:  hsl(0, 100%, 67%);
    border-radius: 10px;
}

.two{
    width: 250px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: hsl(39, 100%, 56%);
    color: yellow;
    border-radius: 10px;
}

.th{
    width: 250px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color:  hsl(166, 100%, 37%);
    color: green;
    border-radius: 10px;
}

.four{
    width: 250px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 30px;
    background-color: hsl(234, 85%, 45%);
    color: rgb(106, 106, 215);
    border-radius: 10px;
}

button{
    width: 230px;
    height: 40px;
    margin-left: 30px ;
    border-radius: 15px;
    background-color: gray;
    color: aliceblue;
}

.you{
    color: hsla(252, 100%, 88%, 0.841);
    margin-left: 30px;
}